.screen {
	display: flex;
	flex-direction: row;
}
.screen-half {
	width: 50%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.screenButton {
	/* padding: 12px 16px; */
	width: 180px;
	text-align: center;
	border: solid;
	border-color: whitesmoke;
	border-width: 4px;
	border-radius: 10;
	background-color: #800080;
	cursor: pointer;
	transition: transform 0.6s;
}
.screenButton:hover {
	background-color: #5f0a5f;
	transform: scale(1.1);
}
.bgcolor {
	/* background-color: #b65fcf; */
	background-image: url("./twitch\ logo.jpg");
	background-position: -400px -100px;
	max-width: 50%;
}
.bgcolor2 {
	/* background-color: #ab0065; */
	background-image: url("./football.jpg");
	background-position: -600px -150px;
	/* background-repeat: no-repeat; */
}
/* .buttonText {
	font-size: 20;
	font-weight: 500;
	color: #f5f5f5;
} */
